.mode-list {
	background-color: color(white);
	overflow-y: scroll;
	> ul {
		> li {

			a {
				display: flex;
				cursor: pointer;
				@include list-item();
			}

			&.active a {
				@include list-item(open);
				transition: transition(fast);
				background: pink; //debug
			}

			figure {
				position: relative;

				&::before {
					content: "";
					display: block;
					background: black;
					width: u(2.5);
					height: u(2.5);
					border-radius: 50%;
				}
				&::after {
					content: "";
					display: block;
					background-image: url(../gfx/logos.png);
					background-size: auto 100%;
					width: u(1.5);
					height: u(1.5);
					border-radius: 50%;
					position: absolute;
					top: 0;
					right: u(-1);

					@at-root [data-party="ap"] figure::after { background-position: 0 0; }
					@at-root [data-party="h"] figure::after { background-position: percentage(1/3) 0; }
					@at-root [data-party="bygdeliste"] figure::after { background-position: percentage(2/3) 0; }
					@at-root [data-party="sp"] figure::after { background-position: percentage(3/3) 0; }
				}
				margin-right: u(1.75);
			}

			.name {
				@include list-item-title();
			}

			.county {
				@include list-item-secondary();
			}
		}
	}
}
