$parti-h: #004E8B;
$parti-sp: #69BE28;
$parti-ap: #E4002B;
$parti-ll: gray;

.mode-map-info, #trondelag{
    width: 100%;
    height: 100%;
    background-color: color(background);
}

.mode-map--desc p{
    padding-bottom: u(1);

}

.mode-map--image{
    width: calc(100% + 32px);
    height: 300px;
    margin-left: u(-1);
    margin-top: -1px;
    background-image: url('../images/oorjG.png');
    background-size: cover;
    background-position: center;
    @include breakpoint(mobile){
        height: 56.25vw;
    }
}

.mode-map-info{
    font: font(system);
    height: auto;
    @include breakpoint(mobile) {
        height: 100%;
        overflow-y: scroll;
        position: absolute;
        z-index: 9999999;
        top: 0px;
        right: 0px;
        width: 100%;
        transform: translateX(100%);
        transition: all .2s ease;
    }

    &.active{
        transform: translateX(0%);
    }

    &__content{
        height: calc(100% - 24px);
        font-family: font(headline);
        padding: 0px u(1);
        padding-bottom: u(3);
        h3 {
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;

        }
        p {
            margin: 10px 0px;
            font-size: 18px;
            line-height: 27px;
        }
    }
    &__bar{
        width: 100%;
        height: u(3);
        padding-left: u(1);
        line-height: u(3);
        background-color: color(primary);
        &--title{
            font-family: font(headline);
            color: color(white);

            width: calc(100% - u(2));
            float: left;
        }
        &--close{
            cursor: pointer;
            width: u(2);
            font-size: u(2);
            float: right;
            color: color(white);
        }
    }
}

$scale: .4;

[class*='leaflet-marker-icon icon-face-']{
    display: block;
    position: absolute;
    border-radius: 50px;
    background-color: color(white);
    border: 1px solid color(white);
    background-repeat: no-repeat;
	background-size: 560px*$scale 560px*$scale;
    background-position: 0px 0px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, .2);
	background-image: url('../images/sprite/ordforere-560.png');
    &.large{
        width: u(8);
        height: u(8);
        border-radius: u(4);
    }
    &.parti{
        &::after{
            display: block;
            content: '';
            position: relative;
            top: u(-1);
            right: u(-1);
            width: u(1.5);
            height: u(1.5);
            background-color: color(white);
            border-radius: u(1.5);
            background-image: url('../gfx/logos.png');
            background-size: auto 100%;
            background-repeat: no-repeat;
        }
        &-sp::after{
            background-position: percentage(3/3) 0px;
            background-color: $parti-sp;
        }
        &-felleslista-for-bygdeutvikling::after{
            background-position: percentage(2/3) 0px;
            background-color: $parti-ll;
        }
        &-h::after{
            background-position: percentage(1/3) 0px;
            background-color: $parti-h;
        }
        &-ap::after{
            background-position: 0px 0px;
            background-color: $parti-ap;
        }
    }

}

.icon-face-aford{background-position: 0*$scale 0*$scale;} /* 80px 80px */
.icon-face-roros{background-position: -80px*$scale 0*$scale;} /* 80px 80px */
.icon-face-namsskogan{background-position: 0*$scale -80px*$scale;} /* 80px 80px */
.icon-face-oppdal{background-position: -80px*$scale -80px*$scale;} /* 80px 80px */
.icon-face-orkdal{background-position: -160px*$scale 0*$scale;} /* 80px 80px */
.icon-face-orland{background-position: -160px*$scale -80px*$scale;} /* 80px 80px */
.icon-face-osen{background-position: 0*$scale -160px*$scale;} /* 80px 80px */
.icon-face-overhalla{background-position: -80px*$scale -160px*$scale;} /* 80px 80px */
.icon-face-rennebu{background-position: -160px*$scale -160px*$scale;} /* 80px 80px */
.icon-face-rissa{background-position: -240px*$scale 0*$scale;} /* 80px 80px */
.icon-face-roan{background-position: -240px*$scale -80px*$scale;} /* 80px 80px */
.icon-face-royrvik{background-position: -240px*$scale -160px*$scale;} /* 80px 80px */
.icon-face-namdalseid{background-position: 0*$scale -240px*$scale;} /* 80px 80px */
.icon-face-selbu{background-position: -80px*$scale -240px*$scale;} /* 80px 80px */
.icon-face-skaun{background-position: -160px*$scale -240px*$scale;} /* 80px 80px */
.icon-face-snasa{background-position: -240px*$scale -240px*$scale;} /* 80px 80px */
.icon-face-snillfjord{background-position: -320px*$scale 0*$scale;} /* 80px 80px */
.icon-face-steinkjer{background-position: -320px*$scale -80px*$scale;} /* 80px 80px */
.icon-face-stjordal{background-position: -320px*$scale -160px*$scale;} /* 80px 80px */
.icon-face-tydal{background-position: -320px*$scale -240px*$scale;} /* 80px 80px */
.icon-face-verdal{background-position: 0*$scale -320px*$scale;} /* 80px 80px */
.icon-face-verran{background-position: -80px*$scale -320px*$scale;} /* 80px 80px */
.icon-face-namsos{background-position: -160px*$scale -320px*$scale;} /* 80px 80px */
.icon-face-naeroy{background-position: -240px*$scale -320px*$scale;} /* 80px 80px */
.icon-face-agdenes{background-position: -320px*$scale -320px*$scale;} /* 80px 80px */
.icon-face-hoylandet{background-position: -400px*$scale 0*$scale;} /* 80px 80px */
.icon-face-bjugn{background-position: -400px*$scale -80px*$scale;} /* 80px 80px */
.icon-face-flatanger{background-position: -400px*$scale -160px*$scale;} /* 80px 80px */
.icon-face-fosnes{background-position: -400px*$scale -240px*$scale;} /* 80px 80px */
.icon-face-frosta{background-position: -400px*$scale -320px*$scale;} /* 80px 80px */
.icon-face-froya{background-position: 0*$scale -400px*$scale;} /* 80px 80px */
.icon-face-grong{background-position: -80px*$scale -400px*$scale;} /* 80px 80px */
.icon-face-hemne{background-position: -160px*$scale -400px*$scale;} /* 80px 80px */
.icon-face-hitra{background-position: -240px*$scale -400px*$scale;} /* 80px 80px */
.icon-face-holtalen{background-position: -320px*$scale -400px*$scale;} /* 80px 80px */
.icon-face-inderoy{background-position: -400px*$scale -400px*$scale;} /* 80px 80px */
.icon-face-midtre_gauldal{background-position: -480px*$scale 0*$scale;} /* 80px 80px */
.icon-face-klaebu{background-position: -480px*$scale -80px*$scale;} /* 80px 80px */
.icon-face-leka{background-position: -480px*$scale -160px*$scale;} /* 80px 80px */
.icon-face-leksvik{background-position: -480px*$scale -240px*$scale;} /* 80px 80px */
.icon-face-levanger{background-position: -480px*$scale -320px*$scale;} /* 80px 80px */
.icon-face-lierne{background-position: -480px*$scale -400px*$scale;} /* 80px 80px */
.icon-face-malvik{background-position: 0*$scale -480px*$scale;} /* 80px 80px */
.icon-face-meldal{background-position: -80px*$scale -480px*$scale;} /* 80px 80px */
.icon-face-melhus{background-position: -160px*$scale -480px*$scale;} /* 80px 80px */
.icon-face-meraker{background-position: -240px*$scale -480px*$scale;} /* 80px 80px */
.icon-face-vikna{background-position: -320px*$scale -480px*$scale;} /* 80px 80px */
