$parti-h: #004E8B;
$parti-sp: #69BE28;
$parti-ap: #E4002B;
$parti-ll: gray;

.mode-map{
    overflow: hidden;
}

.mode-map-info, #trondelag{
    width: 100%;
    height: 100%;
    background-color: color(background);
}
#trondelag{
    @include breakpoint(tablet) {
        width: 100%;
    }
}

.mode-map-info{
    height: 100%;

    @include breakpoint(mobile) {
        position: absolute;
        z-index: 9999999;
        top: 0px;
        right: 0px;
        width: 100%;
        transform: translateX(100%);
        transition: all .2s ease;
    }

    &.active{
        transform: translateX(0%);
    }

    &__content{
        height: calc(100% - 24px);
        padding: u(2);
        font-family: font(system);
        p {
            margin: 10px 0px;
        }
    }
    &__bar{
        width: 100%;
        height: u(3);
        padding-left: u(1);
        line-height: u(3);
        background-color: color(primary);
        &--title{
            font-family: font(headline);
            color: color(white);

            width: calc(100% - u(2));
            float: left;
        }
        &--close{
            cursor: pointer;
            width: u(2);
            font-size: u(2);
            float: right;
            color: color(white);
        }
    }
}

[class*='icon-face-']{
    display: block;
    position: absolute;
    border-radius: 50px;
    width: u(2);
    height: u(2);
    background-color: color(white);
    border: 1px solid color(white);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, .2);
    background-position: 0px 10px;
	background-image: url('../images/oorjG.png');
    &.large{
        width: u(8);
        height: u(8);
        border-radius: u(4);
    }
    &.parti{
        &::after{
            display: block;
            content: '';
            position: relative;
            top: u(-1);
            right: u(-1);
            width: u(1.5);
            height: u(1.5);
            background-color: color(white);
            border-radius: u(1.5);
            background-image: url('../gfx/logos.png');
            background-size: auto 100%;
            background-repeat: no-repeat;
        }
        &-sp::after{
            background-position: percentage(3/3) 0px;
            background-color: $parti-sp;
        }
        &-bygdeliste::after{
            background-position: percentage(2/3) 0px;
            background-color: $parti-ll;
        }
        &-h::after{
            background-position: percentage(1/3) 0px;
            background-color: $parti-h;
        }
        &-ap::after{
            background-position: 0px 0px;
            background-color: $parti-ap;
        }
    }

}

$i: 0;
$j: 0;
@each $kommune in 'hemne', 'snillfjord', 'hitra', 'froya', 'orland', 'agdenes', 'rissa', 'bjugn', 'afjord', 'roan', 'osen', 'oppdal', 'rennebu', 'meldal', 'orkdal', 'roros', 'holtalen', 'midtre_gauldal', 'melhus', 'skaun', 'klaebu', 'malvik', 'selbu', 'tydal', 'steinkjer', 'namsos', 'meraker', 'stjordal', 'frosta', 'leksvik', 'levanger', 'verdal', 'inderoy', 'verran', 'namdalseid', 'inderoy', 'snasa', 'lierne', 'royrvik', 'namsskogan', 'grong', 'hoylandet', 'overhalla', 'fosnes', 'flatanger', 'vikna', 'naeroy', 'leka' {
    .icon-face-#{$kommune}{
        background-position: (64px * $i) (64px * $j);
    }
    $i: $i + 1;
    @if($i == 10){
        $j: $j + 1;
    }
}
