@charset "UTF-8";
@import "bandaid";
@import "patternlib";
@import "map";
@import "list"; // Sass file

body,
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.kommune2017app {
	height: 100%;
	width: 100%;
	overflow: hidden;

	.navigation {
		width: 100%;
		height: u(3);
		background-color: color(primary);
		position: absolute;
		z-index: 9999;
		top: 0px;
		left: 0px;
		span {
			color: color(white);
			width: 50%;
			display: block;
			float: left;
			text-align: center;
			line-height: u(3);
			cursor: pointer;

			&:hover {
				background-color: lighten(color(primary), 5%);
			}

			&:first-of-type {
				border-right: 1px solid color(white);
			}
		}
		@include breakpoint(tablet) {
			display: none;
		}
	}

	.container {
		width: 100%;
		height: 100%;
	}
	@include breakpoint(tablet) {
		.mode-list,
		.mode-map {
			height: 100%;
			float: left;
		}

		.mode-map {
			width: 60%;
		}

		.mode-list {
			width: 40%;
		}
	}
	@include breakpoint(mobile) {
		.mode-map, .mode-list {
			height: 100%;
			width: 100%;
			position: absolute;
			top: u(3) !important;
			left: 0px;

			&.hide {
				display: none;
			}
			&.show{
				display: block;
			}
		}
		.mode-list{
			display: none;
		}
	}
}
