@charset "UTF-8";
@import "bandaid";
@import "map";
@import "list";
// Sass file

#tronderlag {
	height: 100%;
}




.kommune2017app {

	width: 980px;
	height: 600px;

	@include breakpoint(tablet) {
		// For the lulz. Skal fjernes,
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: flex;
	}

	> [class*="mode"] {
		width: 100%;
		height: 100%;

		@include breakpoint(tablet) {
			&.mode-map { width: 70%; }
			&.mode-list { width: 30%; }
		}
	}
}